{% load static %}
{% load base_tags %}

    <!-- JS Global Compulsory -->
    <script src="{% static '' %}{% assets %}/js/jquery-3.5.1.min.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/popper.min.js"></script>
    <script src="{% static '' %}{% assets %}/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="{% static '' %}{% assets %}/js/plugins/apexcharts.min.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/jquery.ez-plus.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/jquery.knob.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/jquery.throttle.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/jquery.classycountdown.min.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/jquery.nicescroll.min.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/nouislider.min.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/sweetalert2.all.min.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/select2.full.min.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/swiper.min.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/ResizeSensor.min.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/theia-sticky-sidebar.min.js"></script>
    <script src="{% static '' %}{% assets %}/js/plugins/wNumb.js"></script>
    <!-- JS Template -->
    <script src="{% static '' %}{% assets %}/js/theme.js"></script>
    <!-- Here goes your custom.js -->
    <script src="{% static '' %}{% assets %}/js/custom.js"></script>
